{% extends "base.html" %}
{% block content %}


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>



 <form action = "/post" method = "POST" enctype="multipart/form-data"> 
  <div class="form-group">
  <p>
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" name = "email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
  </p></div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password"  name = "password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="exampleInputAdTitle1" rel="tooltip" title="Must be longer that 8 chars" data-placement="bottom">Ad Title</label>
    <input type="text"  minlength="8"  name = "title" class="form-control" id="exampleInputAdTitle1" placeholder="Ad Title">
  </div>
  <div class="form-group">
    <label for="exampleInputdesc1">Ad Description</label>
    <input type="text"   minlength="8"  name="desc" class="form-control" id="exampleInputdesc1" placeholder="">
  </div>
  <div class="form-group">
    <label for="exampleInputdesc1">Province</label>
    <input type="text"   maxlength="2"  name="province" class="form-control" id="exampleInputdesc1" placeholder="">
  </div>
   <div class="form-group">
    <label for="prov">City</label>
    <input type="text"   maxlength="16"  name="city" class="form-control" id="prov" placeholder="Winnipeg">
  </div>
  
  <div class="form-group">
    <label for="exampleInputAdUrlTitle1" rel="tooltip" title="Create and ad manually. Select category. Grab the link with the category ID."  data-placement="bottom" >
      Post Ad Url  
    </label>
 
    <input type="text" name="category" class="form-control" id="PostAdURL" placeholder="https://www.kijiji.ca/p-post-ad.html?categoryId=79">
  </div>
  <div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text">Ad Picture</span>
  </div>

  <div class="custom-file">
    <input type="file" name="image" class="custom-file-input" id="inputGroupFile01" required/>
    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
  </div>
</div>


  <button type="submit" class="btn btn-primary" value="submit">Submit</button>
</form>


<script type="text/javascript">
    $(function () {
        $("[rel='tooltip']").tooltip();
    });
</script>
{% endblock %} 